*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(224, 224, 195);
  
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    background-color: rgba(160, 160, 159, 0.541);
    margin-bottom: 50px;
    height: 35px;
}
.top h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:beige;
}
.top img{
    width: 20px;
    height: 25px;
}
.stuff{
    width: fit-content;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
}
.container{
    margin-bottom: 50px;
}
    .panels{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }
    img{
        max-width: 100%;
        height: 100%;
    }
    .onepage, .twopage{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .second, .fifth{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
@media screen and (min-width:768px){
    .panels{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .onepage, .twopage{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        border: 3px solid black;
        width: 720px;
        background-color: rgb(209, 209, 195);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .second, .fifth{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .second img, .fifth img{
        width: 320px;
        height: 250px;
    }
    .first img, .fourth img{
        width: 650px;
        height: 300px;
    }
    .third img, .sixth img{
        width: 650px;
        height: 400px;

}
@media screen and (min-width:1024px){
    .panels{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .onepage, .twopage{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        border: 3px solid black;
        width: 720px;
        background-color: rgb(209, 209, 195);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .second, .fifth{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .second img, .fifth img{
        width: 320px;
        height: 250px;
    }
    .first img, .fourth img{
        width: 650px;
        height: 300px;
    }
    .third img, .sixth img{
        width: 650px;
        height: 350px;
    }
    #container{
        max-width: fit-content;
    }
    .top{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;
        background-color: rgba(160, 160, 159, 0.541);
        margin-bottom: 50px;
        height: 35px;

}
